{
  "presets": [
    ["@babel/preset-env", 
      {
				// need the following code to avoid the import regenerator-runtime/runtime issue
				"targets": {
					"node": "current" // the target node version, boolean true, or "current".
				}
			}
    ],
    "@babel/preset-react"]
}